<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ls.activity">

    <application>
        <activity
            android:name=".fragment.TestFragmentActivity"
            android:exported="false" />
        <activity android:name=".flag.FlagSingleTaskActivity" />
        <activity android:name=".flag.FlagActivity" />
        <activity
            android:name=".TestActivity"
            android:allowTaskReparenting="true" />
    </application>

</manifest>