<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ls.view">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>
        <activity android:name=".custom.CustomViewActivity"></activity>
        <activity android:name=".touch.TouchEventActivity" />
        <activity android:name=".ViewActivity" />
    </application>

</manifest>